<div>
     <header>
          <title>Online_Book_Store</title>
     </header>
     <footer>
          <h1>It 's Just Books</h1>
     </footer>
     <form method = "post" id = "formLogin" action = "/login">

     <div class="log-con">

          <div>
               <label for = "user">Username:    </label>
               <input name = "username" id = "username">    <br>
          </div>
          <div>
               <label for = "pass">Password: </label>
               <input name = "password" id = "password">    <br>
          </div>
          
     </div>

     <div class="log-butts">
          <div>
               <button type = "submit" value = "submit" id = "submit">Sign In</button>
          </div>
          <div>
               <button type = "signup" value = "signup" id = "signup"><a href = "/signup" class="a-signup">Register</a></button>
          </div>
     </div>      
          
     </form>
</div>