<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/site.css">
</head>
<body>
    <main>
        {{{body}}}
        <script src="/public/validateSignup.js"></script>
    </main>
</body>
</html>