<div>
     <header>
          <title>Online_Book_Store</title>
     </header>
     <footer>
          <h1>Welcome to the Online Book Store</h1>
     </footer>
     <form method = "post" id = "formLogin" action = "/login">
          <label for = "submit">Username:    </label>
          <input name = "username" id = "username">    <br>
          <label for = "submit">Password: </label>
          <input name = "password" id = "password">    <br>
          <button type = "submit" value = "submit" id = "submit">Submit</button>
          <button type = "signup" value = "signup" id = "signup"><a href = "/signup">Sign up</a></button>
     </form>
</div>