<div>
     <header>
          <title>Online_Book_Store</title>
     </header>
     <footer>
          <h1>Welcome to the Online_Book_Store</h1>
     </footer>
     <form method = "post" id = "formLogin" action = "/login">
          <label for = "submit">name:    </label>
          <input name = "username" id = "username">    <br>
          <label for = "submit">password: </label>
          <input name = "password" id = "password">    <br>
          <button type = "submit" value = "submit" id = "submit">Submit</button>
     </form>

     <a href = "/signup"> signup</a>
</div>