<div>               {{! the interface for user to sign up}}
     <form method = "/post" id = "formSignUp" action = "/signup">
          <label for = "submit">_id: </label>
          <input type = "number" name = "_id" id = "_id">     <br>
          <label for = "submit">username: </label>
          <input type = "string" name = "username" id = "username">   <br>
          <label for = "submit">firstName: </label>
          <input type = "string" name = "firstName" id = "firstName"> <br>
          <label for = "submit"> lastName: </label>
          <input type = "string" name = "lastName" id = "lastName">   <br>
          <label for = "email">email:</label>
          <input type = "string" name = "email" id = "emial">    <br>
          <button type = "submit1" value = "submit1" id = "submit1"></button>
     </form>
</div>